body{
  background-color: #BBC8D1;
}

.container{
    display: flex;
    justify-content: start;
   
}

.leftCont{
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 15%;
  background-color:#405464
}

.content{
  font-size: 20px;
  padding: 6px;
  height: 250px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-bottom: 1px solid grey;
  transition: 500ms;
}

.content:hover{
  background-color: #314353;
}

p{
  height: 50px;
  font-size: 25px;
}

a{
  color:white;
  text-decoration: none;
  font-size: 25px;
}